
.TypewriterListElement {
    display: grid;
    grid-template-areas:
        "T T"
        "I C";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    row-gap: 15px;
    margin-bottom: 15px;
}

.ElementImage {
    grid-area: I;
}

.ElementTitle {
    grid-area: T;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px #000;
    padding: 1px 1px;
}

.ElementContent {
    grid-area: C;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px #000;
    padding: 2px 4px;
}