.Img-flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.card {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
}

.Img-flexbox .Button {
  max-height: 40px;
  max-width: min-content;
}