
.App {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "H H H"
  "M C Rb"
  "F F F";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  row-gap: 20px;
  background-color: #171c20;
  color: #bfbfbf;
}

.Header {
  grid-area: H;
  box-shadow: 1px 1px 2px 2px #000;
  padding: 15px 32px;
  background-color: #1f2326;
}

.Menu {
 grid-area: M;
}

.Content {
  grid-area: C;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 2px #000;
  padding: 15px 32px;
  background-color: #1f2326;
  margin-right: 20px;
 }

 .Footer {
   grid-area: F;
   align-items : end;
   box-shadow: 1px 1px 2px 2px #000;
   padding: 15px 32px;
 }

 .Rbar {
   grid-area: Rb;
 }
